html{
    font-size: 55%;
}
.Posts {
    position: relative;
    width: 14.8rem;
    height: 3.9rem;
    left: 34.7rem;
    top: 1.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #0079D3;
}

.bar{
    position: sticky;
    width: 79rem;
    height: 4.8rem;
    left: 29.7rem;
    top: 17.1rem;
    background: #FFFBFB;
    z-index: 5;
}

.card {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10rem;
    width: 84.6rem;
    height: 54rem;
    left: 34.7rem;
    overflow-y: hidden;
    top: 5.9rem;
    padding-top: 20vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 12%), 0px 2px 2px rgb(0 0 0 / 24%);
    border-radius: 0.2rem;
}

.new{
    position: absolute;
    width: 4rem;
    height: 2rem;
    left: 14.5rem;
    top: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
}
.top{
    position: absolute;
    width: 3.8rem;
    height: 2rem;
    left: 2rem;
    top: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
}
.createpostbutton{
    box-sizing: border-box;
    position: absolute;
    width: 39.5rem;
    height: 4rem;
    left: 1.3rem;
    top: 2.4rem;
    background: #F7F8F9;
    border-radius: 0.3rem;
}
.createspacebutton{
    box-sizing: border-box;
    position: absolute;
    width: 39.5rem;
    height: 4rem;
    left: 52.2rem;
    top: 2.4rem;
    background: #F7F8F9;
    border-radius: 0.3rem;
}
.create{
    position: sticky;
    z-index: 5;
width: 94.6rem;
height: 72px;
left: 259px;
top: 8px;

background: #FFFBFB;
border-radius: 3px;
}
.posticon{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    left: 4rem;
    top: 3.6rem;
    z-index: 2;
}
.spaceicon{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    left: 53.8rem;
    top: 3.6rem;
    z-index: 2;

}

.upvoteicon{
    position: absolute;
    left: 69.51%;
    right: 29.38%;
    top: 3.1rem;
    bottom: 64.73%;
    cursor: pointer;
}
.topcomm{
    
    width: 27.3rem;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: fixed;
    right: 0;
    top: 0;
}
.upvotes{
    position: absolute;
    width: 2.3rem;
    height: 1.5rem;
    left: 62.7rem;
    top: 3.1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(33, 36, 39, 0.9);

}
.downvoteicon{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 3rem;
    left: 68rem;
    cursor: pointer;
}
.comment{
    position: absolute;
    left: 85.5%;
    /* right: 12.5%; */
    top:3.1rem;
    bottom: 12.5%;
    border: 2px solid rgba(33, 36, 39, 0.71);
}
.comments{
    position: absolute;
    width: 2.5rem;
    height: 1.5rem;
    top: 3.3rem;
    left: 76rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(33, 36, 39, 0.9);

}
.posttext{
    position: absolute;
    width: 81.4rem;
    height: 5rem;
    left: 2.3rem;
    top: 6.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #212427;

}

.postimg {
    position: relative;
    width: 40.2rem;
    height: fit-content;
    left: 7.9rem;
    top: 0;
}
.cardbox{
    box-sizing: border-box;

position: absolute;
width: 84.6rem;
max-height: 20rem;
height: auto;
left: 29.7rem;
top: 16.7rem;
}
.cardusername{
    position: absolute;
width: 267.59px;
height: 15px;
left: 2rem;
top: 2rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: rgba(33, 36, 39, 0.6);


}
.cardarea {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
    top: -3rem;
    flex-direction: column;
}
.cardarea::-webkit-scrollbar {
    display: none;
  }
.subspace{
    position: absolute;
    width: 267.59px;
    height: 15px;
    left: 10rem;
    top: 2rem;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #0079D399;   
}
.communityarea{
    height:fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   position: fixed;
   top: 5rem; 
}
.commcontainer{
    display: flex;
   justify-content: space-evenly;
}
.personicon{
    width: 1rem;
    height: 1.2rem;
    align-self: center;
}
.commnumber{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #000000;
     width: 1rem;
        height: 2.2rem;
    }
    .topcommfollowers{
       font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #000000;
    }
    .topcommfollower{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #000000;
    }
    .topcommname{
     font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #000000;
     width: 7.9rem;
        height: 2rem;
    }
    .firstline{
        position: relative;
            width: 273px;
            height: 2px;
            left: 0px;
            top: 49.5rem;
            background: #D9D9D9;
        }
        .secondline{
            background: #D9D9D9;  
            height: 2px; 
            width: 273px;
        }
    .firstline1{
    
        position: relative;
        width: 273px;
        height: 2px;
        left: 0px;
        top: 63.5rem;
        background: #D9D9D9;
    }