.loginimg{
    position: absolute;
    left: 3.89%;
    right: 49.31%;
    top: 17.96%;
    bottom: 8.63%;
    
     width:67.4rem;
     height :51.9rem;
}
     .giveemailicon {
        position: absolute;
        height: 3.5vh;
        left: 98rem;
        top: 40.5rem;
        z-index: 1;
    }
    .forgot1 {
        position: absolute;
        width: 46rem;
        height: 5.9rem;
        left: 97rem;
        top: 27.1rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 5.9rem;
        color: #212427;
    }
    .send {
        position: absolute;
        width: 34.3rem;
        height: 2.0rem;
        left: 106.2rem;
        top: 34.4rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #212427;
    }
    .giveemail {
        box-sizing: border-box;
        position: absolute;
        width: 47.5rem;
        height: 4.0rem;
        left: 96.7rem;
        top: 40.2rem;
        padding-left: 3vw;
        border: .1rem solid #212427;
        border-radius: .5rem;
    }
    .forgotbutton {
        position: absolute;
        width: 42.5rem;
        height: 4.0rem;
        left: 99.7rem;
        top: 47.3rem;
        background: #212427;
        border-radius: .5rem;
    } 
    .forgottext{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.0rem;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
::placeholder{
        text-indent: 5rem;
        color: #212427;
    }

@keyframes showerror {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}


.usererrorboxforgot{
    display: none;
    background: #ffdb9b;
    width: 26.5rem;
    position: absolute;
    right: 0;
    top: 1rem;
    border: 0.25rem;
    border-left: 0.5rem solid #ffa502;
    animation: showerror 1s ease forwards;
   
    
}
.usererrorboxforgot .errorimgforgot{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
}
.usererrorboxforgot .usererror1forgot{
    padding: 0 1.25rem;
    font-size: 1.125rem;
    color: #ce8500;
}
@media screen and (max-width: 1112px){
    .loginimg{
       position: absolute;
       left: 19.89%;
       right: 49.31%;
       top: 6.96%;
       bottom: 8.63%;
       width: 63vw;
       height: 29vh;
    }   
    .forgot1{
        top: 45vh;
        left: 13vw;
        width: 82vw;
        height: 12vh;
        font-size: 4rem;
    }
    .send{
        top: 55vh;
        left: 15vw;
        width: 75vw;
        height: 7vh;
        font-size: 2rem;
    }

   
    .giveemail{
        top: 61vh;
        
        left: 15vw;
        width: 75vw;
        height: 7vh;
    }
  
    .forgotbutton{
        position: absolute;
        width: 50vw;
        height: 6vh;
        top: 73vh;
        left: 24vw;
        background: #3D7C98;
        border-radius: .5rem;
    }

    .forgottext{
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 700;
       font-size: 1.5rem;
       line-height: 2.0rem;
       color: #FFFFFF;
    }
    .giveemailicon{
        position: absolute;
        height: 2.5vh;
        left: 16vw;
        top: 63.3vh;
        z-index: 1;
    }
    
   }
  