.imagehome{
    position: absolute;
width: 675px;
height: 431px;
left: 56px;
top: 180px;

}
.welcome{
    display: inline-block;
    position: absolute;
width: 502px;
height: 59px;
left: 832px;
top: 180px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
/* identical to box height */


color: #3D7C98;

}
.grow{
    display: inline-block;
    position: absolute;
width: 319px;
height: 29px;
left: 924px;
top: 254px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #3D7C98;


}
.explore-box{
    display: inline-block;
    position: absolute;
width: 153px;
height: 40px;
left: 1007px;
top: 315px;

background: #73B0CD;
border-radius: 20px;
}
.explore{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 105px;
height: 20px;
left: 1031px;
top: 325px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;


}
.communities{
    display: inline-block;
    position: absolute;
width: 146px;
height: 20px;
left: 1010px;
top: 387px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;


} 
.ask-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 137px;
height: 40px;
left: 836px;
top: 429px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}     
.ask{
    margin-left: 25px;
    margin-top: 10px;
width: 89px;
height: 20px;
left: 860px;
top: 439px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;


}
.football-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 116px;
height: 40px;
left: 989px;
top: 429px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}
.football{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 68px;
height: 20px;
left: 1013px;
top: 438px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;
}  
.leagueoflegens-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 196px;
height: 40px;
left: 1121px;
top: 429px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
} 
.leagueoflegens{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 148px;
height: 20px;
left: 1145px;
top: 439px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;


}
.marvel-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 166px;
height: 40px;
left: 833px;
top: 485px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}
.marvel{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 118px;
height: 20px;
left: 857px;
top: 495px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}  
.minecraft-bax{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 128px;
height: 40px;
left: 1015px;
top: 485px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}   
.minecraft{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 80px;
height: 20px;
left: 1039px;
top: 493px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;


}
.travel-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 160px;
height: 40px;
left: 1159px;
top: 485px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}
.travel{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 112px;
height: 20px;
left: 1183px;
top: 495px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;


}
.esport-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 111px;
height: 40px;
left: 825px;
top: 545px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;

}

.esport{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 63px;
height: 20px;
left: 849px;
top: 555px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}
.robotics-box{
   display: inline-block; 
box-sizing: border-box;

position: absolute;
width: 121px;
height: 40px;
left: 952px;
top: 545px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}
.robotics{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 73px;
height: 20px;
left: 976px;
top: 555px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}
.running-box{
    box-sizing: border-box;
  display: inline-block;
position: absolute;
width: 120px;
height: 40px;
left: 1082px;
top: 545px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;

}
.running{
    margin-left: 25px;
    margin-top: 10px;
width: 72px;
height: 20px;
left: 1106px;
top: 555px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}
.login-box{
    display: none;
}
.login1{
    display: none;
}
.already{
    display: none;
}
.formula-box{
    box-sizing: border-box;
    display: inline-block;
position: absolute;
width: 123px;
height: 40px;
left: 1218px;
top: 545px;

border: 1px solid rgba(26, 15, 145, 0.4);
border-radius: 20px;
}
.formula{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
width: 75px;
height: 20px;
left: 1242px;
top: 555px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;
}
@media screen and (max-width: 400px){
.imagehome{
    position: absolute;
width: 300px;
height: 192px;
left: 30px;
top: 128px;
}  
.welcome{
    position: absolute;
width: 300px;
height: 88px;
left: 30px;
top: 416px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #3D7C98;
} 
.grow{
    position: absolute;
width: 213px;
height: 20px;
left: 74px;
top: 528px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}
.explore-box{
    position: absolute;
width: 300px;
height: 40px;
left: 30px;
top: 624px;

background: #3D7C98;
border-radius: 20px;
}
.explore{
    margin-left: 25px;
    margin-top: 10px; 
}
.login-box{
    display: inline-block;
    box-sizing: border-box;

position: absolute;
width: 300px;
height: 40px;
left: 30px;
top: 680px;

border: 1px solid #3D7C98;
border-radius: 20px;

}
.login1{
    display: inline-block;
    position: absolute;
width: 52px;
height: 20px;
left: 154px;
top: 690px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #3D7C98;

}
.already{
    display: inline-block;
    position: absolute;
width: 197px;
height: 15px;
left: 83px;
top: 749px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #3D7C98;

}
.communities{
    display:none;
} 
.ask-box{
    display:none;
}     
.ask{
    display:none;
}
.football-box{
    display:none;
}
.football{
    display:none;
}  
.leagueoflegens-box{
    display:none;
} 
.leagueoflegens{
    display:none;
}
.marvel-box{
    display:none;
}
.marvel{
    display:none;

}  
.minecraft-bax{
    display:none;
}   
.minecraft{
    display:none;
}
.travel-box{
    display:none;
}
.travel{
    display:none;


}
.esport-box{
    display:none;

}

.esport{
    display:none;

}
.robotics-box{
    display:none;
}
.robotics{
    display:none;
   

}
.running-box{
    
  display: none;

}
.running{
  display: none;
}

.formula-box{
    box-sizing: border-box;
    display: none;

}
.formula{
    display: none;
   
}


}