html{
    font-size: 100%;
}
.imagehome{
    position: absolute;
    /* width: 74.5rem; */
    height: 69vh;
    left: 1vw;
    top: 16vh;
    background: #FFFFFF;
    opacity: 0.7;
}
.welcome{
    position: absolute;
    width: 50.2rem;
    height: 5.9rem;
    left: 62vw;
    top: 38vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.9rem;
    color: #212427;
    

}
.grow{
    position: absolute;
    width: 31.9rem;
    height: 2.9rem;
    left: 66vw;
    top: 50vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: rgba(33, 36, 39, 0.9);
}


.explore-box{
    position: absolute;
    width: 15.3rem;
    height: 4.0rem;
    left: 72vw;
    top: 59vh;
    background: #212427;
    border-radius: 2.0rem;
}
.explore{
    display: inline-block;
    
    width: 10.5rem;
    height: 2.0rem;
    
       
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.0rem;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.login-box{
    display: none;
}
.login1{
    display: none;
}
.already{
    display: none;
}
@media screen and (max-width: 1180px){
    .imagehome{
        height: 50vh;
    }
    .welcome{
    left: 10vw;
    top: 70vh;
}
.grow{
    top: 76vh;
    left: 14vw;
}
.explore-box{
    top: 82vh;
    left: 16vw;
}
}

@media screen and (max-width: 425px){
.imagehome{
    position: absolute;
    width: 85vw;
    height: 50vh;
    left: 8vw;
    top: 4vh;
}  
.welcome{
    position: absolute;
    width: 71vw;
    height: 8.8rem;
    left: 16vw;
    top: 50vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4.4rem;
    text-align: center;
    color: #212427;
} 
.grow{
    position: absolute;
    width: 61vw;
    height: 4vh;
    left: 23vw;
    top: 66vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.0rem;
    color: #212427;

}
.explore-box{
    position: absolute;
    width: 75vw;
    height: 6vh;
    left: 16vw;
    top: 73vh;
    background: #212427;
    border-radius: 2rem;
}
.explore{
    margin-left: 1.8rem;
    margin-top: 1.0rem;
    width: 30vw;
}
.login-box{
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 64vw;
    height: 5vh;
    left: 20vw;
    top: 80vh;
    border: .1rem solid #212427;
    border-radius: 2rem;
}
.login1{
    display: inline-block;
    width: 5.0rem;
    height: 2.0rem;
    padding-left: 26vw;
    padding-top: 1vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.0rem;
    color: #212427;
}
.already{
    display: inline-block;
    position: absolute;
    width: 61vw;
    height: 5vh;
    left: 26vw;
    top: 90vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #212427;

}



}