.loginimg{
    position: absolute;
    left: 3.89%;
    right: 49.31%;
    top: 17.96%;
    bottom: 8.63%;
    
     width:674px;
     height :519px;



}
.welcomeback{
    position: absolute;
width: 375px;
height: 59px;
left: 896px;
top: 180px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
/* identical to box height */


color: #3D7C98;


}
.email{
    box-sizing: border-box;

position: absolute;
width: 425px;
height: 40px;
left: 867px;
top: 291px;

border: 1px solid #3D7C98;
border-radius: 5px;
}
.pass{
    box-sizing: border-box;

position: absolute;
width: 425px;
height: 40px;
left: 867px;
top: 355px;

border: 1px solid #3D7C98;
border-radius: 5px;
}
.forgot{
    position: absolute;
width: 108px;
height: 15px;
left: 1179px;
top: 403px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #3D7C98;


}
.loginbutton{
    position: absolute;
width: 425px;
height: 40px;
left: 867px;
top: 426px;

background: #3D7C98;
border-radius: 5px;

}
.byclicking{
    position: absolute;
width: 424px;
height: 15px;
left: 868px;
top: 482px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: -0.02em;

color: #3D7C98;
}
.createacc{
    position: absolute;
width: 147px;
height: 20px;
left: 1010px;
top: 521px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.02em;

color: rgba(61, 124, 152, 0.6);


}
.details1{    position: absolute;
    width: 143px;
    height: 20px;
    left: 1012px;
    top:258px ; 
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #3D7C98;
   
}
.logintext{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;

}