/* body{
    background-color: #000000;
} */
.navbar{
    position: absolute;
    width: 100vw;
    height: 9.7vh;
    left: 0px;
    top: 0px;
    background: #DEE6FE;
    }
.appname {
    display: inline-block;
    position: absolute;
    width: 10vw;
    height: 5vh;
    left: 8vw;
    top: 2vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 39px;
    color: #212427;
    /* identical to box height */
    
    }
    .navbar ul li:nth-child(1){
        display: inline-block;
        position: absolute;
        width: 4vw;
        height: 3vh;
        left: 66vw;
        top: 3.5vh;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
       
        color: #212427;
    
    }
    .navbar ul li:nth-child(2){
        display: inline-block;
    position: absolute;
    width: 5vw;
    height: 3vh;
    left: 79.5vw;
    top: 3.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
   
    color: #212427;
    }
    .navbar ul li:nth-child(3){
        position: absolute;
    width: 4vw;
    height: 3vh;
    left: 93vw;
    top: 3.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #212427;
    list-style-type: none;
   
    }
    .navbar ul li:nth-child(3):active{
     text-decoration: underline;
      }
.navbar ul li:nth-child(2):active{
        text-decoration: underline;
         }
.navbar ul li:nth-child(1):active{
            text-decoration: underline;
             }

 @media screen and (max-width: 425px){
            .navbar{
                display: none;
            }
        }
            
