/* body{
    background-color: #000000;
} */
.navbar{
    position: absolute;
    width: 1440px;
    height: 64px;
    left: 0px;
    top: 0px;
    
    background: #DEE6FE;
    }
.appname {
    display: inline-block;
    position: absolute;
    width: 132px;
    height: 39px;
    left: 105px;
    top: 12px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #3D7C98;
    }
    .navbar ul li:nth-child(1){
    display: inline-block;
    position: absolute;
     width: 51px;
     height: 20px;
     left: 900px;
     top: 22px;
    
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     /* identical to box height */
     text-decoration: none;
    
     color: #3D7C98;
    
    }
    .navbar ul li:nth-child(2){
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 20px;
        left: 1083px;
        top: 22px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        text-decoration: none;
        
        color: #3D7C98;
    }
    .navbar ul li:nth-child(3){
        position: absolute;
         width: 52px;
        height: 20px;
        left: 1279px;
        top: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #3D7C98;
        list-style-type: none;
        text-decoration: none;
            
        }
        .navbar ul li {
            text-decoration: none;   
        }
            
