.signimg{
    position: absolute;
    left: 3.89%;
    right: 49.31%;
    top: 17.96%;
    bottom: 8.63%;
    width: 50vw;
    height: 78vh;

}
.registered{     position: absolute;
    width: 17rem;
    height: 2.0rem;
    left: 121.5rem;
    top: 66.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: -0.02em;
    color: rgba(33, 36, 39, 0.9);
}
.clicking{
    position: absolute;
    width: 42.4rem;
    height: 1.5rem;
    left: 92.8rem;
    top: 63.7rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: rgba(33, 36, 39, 0.9);
}
.continuebutton{
    position: absolute;
    width: 42.5rem;
    height: 4.0rem;
    left: 92.7rem;
    top: 59.3rem;
    background: #212427;
    border-radius: .5rem;
}
.continuetext1{
    color: #FFFFFF;
}
.input3{
    box-sizing: border-box;
    position: absolute;
    width: 53.5rem;
    height: 4.0rem;
    left: 86.7rem;
    top: 49.9rem;
    border: .1rem solid #212427;
    border-radius: .5rem;
}
.errorconfirm{
    display: none;
    position: absolute;
    width: 53rem;
    height: 3.5rem;
    left: 87rem;
    top: 54.2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 17px;
    color: #af4242;
    background-color: #fde8ec;
    text-align: center;
    border: 1px solid #af4242;
    border-radius: 0.5rem;
}
.passwordicon1{
    position: absolute;
    height: 3.5rem;
    left: 87rem;
    top: 50rem;
    z-index: 1;
}
.input2{
box-sizing: border-box;
    position: absolute;
    width: 53.5rem;
    height: 4.0rem;
    left: 86.7rem;
    top: 40.5rem;
    border: .1rem solid #212427;
    border-radius: .5rem;
}
.error{
    display: none;
    position: absolute;
    width: 53rem;
    height: 4rem;
    left: 87rem;
    top: 45rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    /* line-height: 17px; */
    color: #af4242;
    background-color: #fde8ec;
    text-align: center;
    border: 1px solid #af4242;
    border-radius: 0.5rem;
}
.passwordicon{
position: absolute;
    height: 3.5rem;
    left: 87rem;
    top: 41rem;
    z-index: 1;
}
.input1{
    box-sizing: border-box;
    position: absolute;
    width: 53.5rem;
    height: 4.0rem;
    left: 86.7rem;
    top: 32.1rem;
    border: .1rem solid #212427;
    border-radius: .5rem;
}
.emailerror{
    display: none;
    position: absolute;
    width: 53rem;
    height: 3.5rem;
    left: 87rem;
    top: 36.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #af4242;
    background-color: #fde8ec;
    text-align: center;
    border: 1px solid #af4242;
    border-radius: 0.5rem;
}
.mailicon{
        position: absolute;
    height: 3rem;
    left: 87rem;
    top: 32.5rem;
    z-index: 1;
}
.input{
    box-sizing: border-box;
    position: absolute;
    width: 53.5rem;
    height: 4.0rem;
    left: 86.7rem;
    top: 23.7rem;
    border: .1rem solid #212427;
    border-radius: .5rem;
}
.usericon1{
    position: absolute;
    height: 3rem;
    left: 87rem;
    top: 24rem;
    z-index: 1;
}
.details{
position: absolute;
    width: 14.3rem;
    height: 2.0rem;
    left: 104.2rem;
    top: 19rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: rgba(33, 36, 39, 0.9);
}
.createheading {
    position: absolute;
    width: 46.0rem;
    height: 5.9rem;
    left: 91.0rem;
    top: 12.7rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.9rem;
    color: #212427;
}
::placeholder{
    /* text-indent: 3vw; */
    color: #212427;
}
@keyframes showerror {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}


.usererrorbox{
    display: none;
    background: #ffdb9b;
    width: 26.5rem;
    height: 6rem;
    position: absolute;
    right: 0;
    top: 15rem;
    border: 0.25rem;
    border-left: 0.5rem solid #ffa502;
    animation: showerror 1s ease forwards;
   
    
}
.usererrorbox .errorimg{
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
}
.usererrorbox .usererror1{
    padding: 0 1.25rem;
    font-size: 1.125rem;
    color: #ce8500;
}

@media screen and (max-width: 1130px){
 .navbar{
    display: none;
 }
    .signimg{
    position: absolute;
    left: 19.89%;
    right: 49.31%;
    top: 1.96%;
    bottom: 8.63%;
    width: 63vw;
    height: 29vh;
 }   
 .createheading{
    top: 32vh;
    left: 13vw;
    width: 82vw;
    height: 12vh;
    font-size: 4rem;
 }
 .details{
    top: 39vh;
    left: 27vw;
    width: 43vw;
    height: 4vh;
 }
 .input{
    top: 45vh;
    left: 10vw;
    width: 84vw;
    height: 6vh;
    padding-left: 7vw;
 }
 .input1{
    top: 55vh;
    left: 10vw;
    width: 84vw;
    height: 6vh;
    padding-left: 7vw;
 }
 .input2{
    top: 64vh;
    left: 10vw;
    width: 84vw;
    height: 6vh;
    padding-left: 5vw;
    padding-left: 7vw;
 }
 .input3{
    top: 75vh;
    left: 10vw;
    width: 84vw;
    height: 6vh;
    padding-left: 7vw;
 }
 .continuebutton{
    top: 83vh;
    left: 10vw;
    width: 81vw;
    height: 7vh;
 }
 .clicking{
    top: 91vh;
    left: 12vw;
    width: 80vw;
    height: 7vh;
    font-size: 0.85rem;
 }
 .continuetext1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 20px;
    color: #FFFFFF;
        color: white;
    
 }

.registered{
    top: 96vh;
    left: 22vw;
    width: 49vw;
    height: 10vh;
    font-size: 1rem
}
.error{
    display: inline-block;
    position: absolute;
    width: 83vw;
    height: 5vh;
    left: 10vw;
    top: 70vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 17px;
    color: rgba(255, 0, 0, 0.66);
}

.emailerror{
    display: inline-block;
    position: absolute;
    width: 42vw;
    height: 2vh;
    left: 11vw;
    top: 61.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 17px;
    color: rgba(255, 0, 0, 0.66);

}
.errorconfirm{
    display: inline-block;
    position: absolute;
    width: 80vw;
    height: 3vh;
    left: 10vw;
    top: 80.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 17px;
    color: rgba(255, 0, 0, 0.66);

}
.passwordicon1{
    top: 76vh;
    left: 11vw;
    height:3.5vh;
}
.passwordicon{
    top: 66vh;
    left: 11vw;
    height:3.5vh;
}
.usericon1{
    top: 46vh;
    left: 11vw;
    height:3.5vh;
}
.mailicon{
    top: 56vh;
    left: 11vw;
    height: 3.5vh;
}
 
}