html{
    font-size: 55%;
}

.topcommtext{
    position: absolute;
    width: 146px;
    height: 20px;
    left: 44px;
    top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #212427;
}





.topcommviewtext{
    position: absolute;
    width: 22.5rem;
    height: 4rem;
    top: 24.7rem;
    left: 10rem;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #FFFFFF;
}

.topcommprivacy {
    position: absolute;
    width: 109px;
    height: 20px;
    left: 9rem;
    top: 57rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(33, 36, 39, 0.5);
}
.topcommagreement {
    position: absolute;
    width: 13.3rem;
    height: 2rem;
    top: 60.7rem;
    left: 9rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2rem;
    color: rgba(33, 36, 39, 0.5);
}
.topcommcontact {
    position: absolute;
    width: 10.9rem;
    height: 4rem;
    top: 64.5rem;
    left: 10rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2rem;
    color: rgba(33, 36, 39, 0.5);
}


.topcommspace {
    position: absolute;
    width: 12.3rem;
    /* height: 9rem; */
    /* top: 65.1rem; */
    top: 70.1rem;
    left: 9rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(33, 36, 39, 0.5);
}

